%table.table.table-bordered
  %tbody
    %tr
      %td E-Mail Address
      %th{:scope => "row"}
        = drinker.email
    %tr
      %td Your credits number
      %th{:scope => "row"}
        = drinker.credit
    %tr
      %td User ID
      %th{:scope => "row"}
        - if drinker.client_user_id.nil?
          it is not set
        - else
          #{"%06d" % drinker.client_user_id}
    %tr
      %td PIN
      %th{:scope => "row"}
        #{"%04d" % drinker.client_pin}
    %tr
      %td Privileges
      %td{:scope => "row"}
        - if drinker.admin
          This user is an
          %strong administrator
        - else
          This is not an admin
    - drinker.rfids.each_with_index do |rfid, idx|
      %tr
        %td Rfid num #{idx}
        %th{:scope => "row"} #{rfid.number}
    -if drinker.rfids.empty?
      %tr
        %td Rfids
        %th{:scope => "row"} none

-if current_user.admin?
  = link_to 'Edit', edit_drinker_path(drinker), method: :get, class: "btn btn-primary"
  &nbsp;
  = link_to 'Add Rfid', new_drinker_rfid_path(drinker), method: :get, class: "btn btn-primary"
  &nbsp;
  = link_to 'Destroy User', drinker_path(drinker.id), data: { confirm: 'Are you sure you want to delete this user?' }, method: :delete, class: "btn btn-secondary"


